<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/CSS/styles.css" />
    <link rel="icon" href="/img/weather.png" />
    
  </head>
  <body>
    <div class="main-content">{{>header}}
    <p><b>Hi, My name is Abhishek and I'm 26 year old. This is a weather application develop by me.
    </b>
      </p>
      <img class="potrait" src="/img/12.jpg"></div>
    {{>footer}}
  </body>
    
 
</html>